/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 20-11-2022, 17:19:36
    Author     : PC
*/

.button
{
-fx-background-color :  #EBE8F9;
-fx-background-radius : 5px;
-fx-text-fill : #000000;
}
.button:hover{
-fx-background-color : #a5a2ad;
}
.button:pressed
{
-fx-background-color : #696969;
}

.button_primary
{
-fx-background-color :  #2e8cc7;
-fx-background-radius : 5px;
-fx-text-fill : #ffffff;
}
.button_primary:hover{
-fx-background-color : #1c80be;
}
.button_primary:pressed
{
-fx-background-color : #225f85;
}

.button_success
{
-fx-background-color :  #27c47b;
-fx-background-radius : 5px;
-fx-text-fill : #000000;
}
.button_success:hover{
-fx-background-color : #13c572;
}
.button_success:pressed
{
-fx-background-color : #198754;
}

.button_danger
{
-fx-background-color :  #dc3545;
-fx-background-radius : 5px;
-fx-text-fill : #ffffff;
}
.button_danger:hover{
-fx-background-color : #d45763;
}
.button_danger:pressed
{
-fx-background-color : #a02935;
}
