/*
 * Empty Stylesheet file.
 */

.card-form{
    -fx-background-color: #f8f8f8;
    -fx-border-color: #454368;
    -fx-border-radius: 10px;
    -fx-background-radius:10px;
}


.image-card{
    -fx-background-color: #fff;
    -fx-border-color: #000;
}

.save-btn{
    -fx-background-color: #558e74;
    -fx-background-radius: 15px;
    -fx-cursor:hand;
    -fx-text-fill: #fff;
}

.save-btn:hover{
    -fx-background-coloer:#57b187;
}

.take-btn{
    -fx-background-color: #914f96;
    -fx-background-radius: 15px;
    -fx-cursor:hand;
    -fx-font-size:15px;
    -fx-text-fill: #fff;   
}

.take-btn:hover{
    -fx-background-color: #b356bb;
}